body {
    text-align: center;
    background-color: #838382;
}

#Main {
    margin: 10px 50px;
}

#Arena {
    text-align: left;
    color: white;
    border-collapse: collapse;
    font-weight: bolder;
    font-size: 30px;
}

#Line {
    text-align: center;
    margin:0 0 0 0;
}

#WhoPlayed {
    white-space: pre-line
}

